<div data-role="page" class="ui-page ui-page-theme-a ui-page-header-fixed ui-page-footer-fixed" id="10-whats-new" data-defaults="true">
	<div class="ui-content" role="main">
		<h1>Ajax Navigation<h1>
		<ul class="preso-inset-list ui-listview ui-listview-inset ui-corner-all ui-shadow">
			<li class="ui-li-static ui-body-inherit ui-first-child" >
				<h1>Degrades gracefully when not supported</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>Uses push state to track history when supported falls back to hash</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>Cleans up inconsistent browser implementations of history api</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>degrade gracefully when not supported</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>Standalone component for sane history management</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>uses normal links no need for special handling</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>No need to change how you write your code or markup</h1>
			</li>
		</ul>
	</div>
</div>
