<div data-role="page" class="ui-page ui-page-theme-a ui-page-header-fixed ui-page-footer-fixed" id="17-multipage-disadvantages" data-defaults="true">
	<div class="ui-content" role="main">
		<h1>Disadvantages of the multi-page template</h1>
		<ul class="preso-inset-list ui-listview ui-listview-inset ui-corner-all ui-shadow ui-mini">
			<li class="ui-li-static ui-body-inherit ui-first-child" >
				<h1>Slower initial page download</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>Can lead to a very large dom</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>Consumes more memory</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>Cannot load multi-page documents via Ajax nav</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>Not good for large numbers of pages</h1>
			</li>
			<li class="ui-li-static ui-body-inherit ui-last-child" >
				<h1>Organization can suffer from stuffing everything in a single file</h1>
			</li>
		</ul>
	</div>
</div>