<div data-role="page" class="ui-page ui-page-theme-a ui-page-header-fixed ui-page-footer-fixed" id="43-execution-delay" data-defaults="true">
	<div class="ui-content" role="main">
		<h1>On average ( a year ago ) mobile devices take 1ms parse 1kb of js</h1>
		<ul class="preso-inset-list ui-listview ui-listview-inset ui-corner-all ui-shadow">
			<li class="ui-li-static ui-body-inherit ui-first-child" >
				<h1>place non essential scripts in comments or string literals</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>use eval to parse them once window.load is done</h1>
			</li>
		</ul>
	</div>
</div>