<div data-role="page" class="ui-page ui-page-theme-a ui-page-header-fixed ui-page-footer-fixed" id="5-demo-fail">
	<div class="ui-content" role="main">
		<div class="ui-grid-a">
			<div class="ui-block-a">
				<h1>Time for a little story about live demos...</h1>
				<h3>be prepared to FAIL!</h3>
			</div>
			<div class="ui-block-b preso-image-wedge">
				<img src="../../images/placeholder.jpg" data-src="../../images/demo-fail.jpg" alt="safari iphone demo failure screenshot" class="preso-image-auto preso-image-auto-ignoreother">
			</div>
		</div>
		<ul class="preso-inset-list ui-listview ui-listview-inset ui-corner-all ui-shadow ui-mini">
			<li class="ui-li-static ui-body-inherit ui-first-child" >
				<h1>Attempted to release 1.4.1 live on stage at jQuery San Diego</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>Demo failed within seconds</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>I hate failure</h1>
			</li>
			<li class="ui-li-static ui-body-inherit ui-last-child" >
				<h1>Will make this work someday...</h1>
			</li>
		</ul>
	</div>
</div>