<div data-role="page" class="ui-page ui-page-theme-a ui-page-header-fixed ui-page-footer-fixed" id="52-initalization-free-widgets" data-defaults="true">
	<div class="ui-content" role="main">
		<h1>Initalizeation free widgets</h1>
		<ul class="preso-inset-list ui-listview ui-listview-inset ui-corner-all ui-shadow">
			<li class="ui-li-static ui-body-inherit ui-first-child" >
				<h1>Far future ...</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>Something we are looking into</h1>
			</li>
			<li class="ui-li-static ui-body-inherit" >
				<h1>allows you to never initialize your widgets just add the markup</h1>
			</li>
			<li class="ui-li-static ui-body-inherit ui-last-child" >
				<h1>Drastic departure from current idea of widgets</h1>
			</li>
			<li class="ui-li-static ui-body-inherit ui-last-child" >
				<h1>for more info <a href="http://tech.pro/tutorial/1660/initialization-free-widgets">http://tech.pro/tutorial/1660/initialization-free-widgets</a></h1>
			</li>
		</ul>
	</div>
</div>